#enterprise_model{
	width:100%;
	height:85px;
	/*border:1px solid;*/
}

#enterprise_model ul li{
	display: inline-block;
	width:25%;
	height:inherit;
	/*border:1px solid;*/
	margin-left:5%;
	
}

#enterprise_model ul li i{
	margin-left: 30px;
	font-size: 170%;
}

#enterprise_model ul li h5{
	margin-left: 17px;
	color:black;
}

#introduction .description{
	width:100%;
	/*height:300px;
	border: 1px solid;*/
}

#introduction .images{
	width:100%;
}

#introduction h5{
	font-size:110%;
	margin: 15px;
	color:black;
	line-height: 25px;
}



#connector{
	display: none;
}

#connector h5{
	margin: 30px;
	font-size: 103%;
	color: black;
}

#address ul li{
	/*border:1px solid;*/
	display: block;
	height:20px;
	width:100%;
}

#address ul li h5{
	margin-left:5%;
	color:black;
	font-size: 90%;
	margin-top:30px;
}

#address ul li i{
	position: relative;
	top:-25px;
	left:85%;
	font-size: 140%;
	color: #DD524D;
}

#address ul hr{
	margin-left:5%;
	width:85%;
	height:1px;
	border:none;
	border-top:1px solid #555555;
}

