ul{
	list-style: none;
}

#friends img{
	width:100%;
}

#friends #my_img{
	position: absolute;
	left:70%;
	top:230px;
	width:23%;
	border:2px solid white;
	height:80px;
	background-image: url(../img/user02.jpg);
	background-size: contain;
}

#friends #friends_content{
	width:90%;
	/*height:1060px;*/
	margin-top:40px;
	margin-left:5%;
	background-color: rgba(244,245,247,1);
}

#friends #friends_content .says{
	width:100%;
	/*border: 1px solid;*/
	/*height:300px;*/
	border-radius: 5px;
	background-color: white;
}

#friends #friends_content .says .img{
	margin-top:5px;
	width:15%;
	height:52px;
	border-radius: 50%;
	/*border:1px solid black;*/

}


#friends #friends_content .says li h5{
	display: inline;
	line-height: 30px;
}

#friends #friends_content .says img{
	width:25%;
}

#friends #friends_content .says li i{
	font-size: 140%;
	float:right;
	margin-right: 10px;
	color:gray;

}

#friends #friends_content .says .li01_h5{
	position:relative;
	top:-30px;
}

#friends #friends_content .says .li05_i{
	font-size:100%;
	float:left;
	margin-top:5px;
	margin-right:5px;
}
