*{
	margin:0;
	padding:0;
}

a{
	color: #8F8F94;
}

body{
	background: white;
}

hr{
	
	margin-top:5px;
	height:1px;
	border:none;
	border-top:1px solid #DDDDDD;
}

#search{
	height:40px;
	background-color: #DD524D;
}

#search div{
	display: inline-block;
	margin-left:10%;
	top:3px;
	right:20px;
	width:72%;
}

#search i{
	display: inline-block;
	/*border:1px solid;*/
	font-size: 140%;
	color: white;
	position: relative;
	top:5px;
	left:9px;
}


#top{
	height:40px;
	/*background-color: #DD524D;*/
}

.top_icon{
	height:30px;
	width:40px;
	display: inline-block;
	margin:0;
	width:23%; 
	/*border:1px solid;*/
	position: relative;
	top:8px;
}

.top_icon h5{
	text-align: center;
	
}

.top_icon i{
	margin-left: 35%;
}






/*轮播器*/
.swiper-container {
    width: 100%;
    height: 142px;
    overflow: hidden!important;
}
.swiper-button-prev{
	color: #323232;
}
.swiper-container .swiper-wrapper .swiper-slide{ width: 85%;}
.swiper-container .swiper-wrapper .swiper-slide img{width: 100%; box-shadow: 0px 0px 3px #000000; height: 140px; border-radius: 5px;}
.swiper-container .swiper-wrapper .swiper-slide-prev{ margin-top: 15px; height: 150px!important;}
.swiper-container .swiper-wrapper .swiper-slide-prev img{ height: 120px!important;}
.swiper-container .swiper-wrapper .swiper-slide-next{ margin-top: 15px; height: 150px!important;}
.swiper-container .swiper-wrapper .swiper-slide-next img{ height: 120px!important;}
.swiper-container .swiper-wrapper .swiper-slide-active{ width: 85%;}

#lesson{
	overflow: auto;
}

.title{
	height:30px;
	/*border:1px solid;*/
	margin-top:10px;
}

.title h5{
	display: inline-block;
	color:black;
}

.title div{
	float:right;
	
}


/*红蓝推荐框*/
.lesson_model_div{
	width:45%;
	margin-left:2.5%;
	margin-top:10px;
	/*border:1px solid;*/
	height: 100px;
	display: inline-block;
	border-radius:5px;
}

.lesson_model_div_div{
	width:90%;
	height:90px;
	margin-top:5px;
	margin-left:5%;
	/*border: 1px solid;*/
}

.lesson_model div div h5{
	line-height:16px;
	display: inline;
	color:rgba(1,155,255,1);
}

.lesson_model .lesson_model_div h5{ 
	color: rgba(253,55,2,0.9);
}





.lesson_model_2 div{
	width:94%;
	margin-left:2.5%;
	margin-top:10px;
	/*border:1px solid;*/
	height: 80px;
	display:block;
}

.lesson_model_2 img{
	width:35%;
	height: inherit;
	border-radius: 5px;
	
}

.lesson_model_2 div div{
	margin:0;
	width:62%;
	float:right;
}

.lesson_model_2 div div h5{
	line-height: 20px;
	display: inline;
	color:black;
}











#auto_place{
	height: 45px;
}




/*底部导航*/
#bottom{
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	/*background-color:;*/
	height:45px;
	box-shadow: 0px 0px 2px #ACACB4;
	background-color: white;
}

.bottom_icon{
	width:40px;
	display: inline-block;
	margin:0;
	width:18%; 
	/*border:1px solid;*/
}

.bottom_icon i{
	margin-left: 32%;
	font-size:140%;
}

.bottom_icon h6{
	text-align: center;
}