h4{
	font-weight: 300;
}

#friends_like{
	width:100%;
}

#friends_like .date{
	width:inherit;
	height:22px;
}

#friends_like .mylike{
	width:inherit;
	/*border:1px solid;*/
}

#friends_like .mylike h4{
	position: relative;
	margin-left:5%;
	top:5px;
}

#friends_like .mylike h6{
	position: relative;
	margin-left:5%;
	top:5px;
	font-size: 90%;
}



