<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.mapper.ClassMapper">

    <resultMap type="com.neuedu.po.Lesson" id="lesson_lessonbranch_map">
        <id property="lid" column="lid"/>
        <result property="lname" column="lname"/>
        <result property="imgurl" column="imgurl"/>
        <result property="lprice" column="lprice"/>
        <result property="lprice" column="lprice"/>
        <result property="ldesc" column="ldesc"/>
        <result property="category" column="category"/>
        <result property="qid" column="qid"/>
        <result property="pubtime" column="pubtime"/>
        <association property="lessonbranch" javaType="com.neuedu.po.Lessonbranch">
            <id property="id" column="id"/>
            <result property="lid" column="lid"/>
            <result property="branchid" column="branchid"/>
        </association>
    </resultMap>

    <resultMap type="com.neuedu.po.Freelisten" id="freelisten_lessonbranch_map">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="imgurl" column="imgurl"/>
        <result property="qid" column="qid"/>
        <result property="fdesc" column="fdesc"/>
        <result property="branchid" column="branchid"/>
        <result property="status" column="status"/>
        <result property="qid" column="qid"/>
        <result property="pubtime" column="pubtime"/>
        <association property="lessonbranch" javaType="com.neuedu.po.Lessonbranch">
            <id property="id" column="id"/>
            <result property="lid" column="lid"/>
            <result property="branchid" column="branchid"/>
        </association>
    </resultMap>

    <select id="getAllLessonByCondition" resultMap="lesson_lessonbranch_map">
        select lesson.*,lessonbranch.* from lesson inner join lessonbranch on
        lesson.lid = lessonbranch.lid
        <if test="category!=null and category!=''">
            where category = #{category}
        </if>
        <if test="branchid!=null and branchid!='' and category!=null and category!=''">
            and branchid = #{branchid}
        </if>
        <if test="category=='' and branchid!=0">
            where branchid = #{branchid}
        </if>
    </select>

    <select id="getAllFreelistenByCondition" resultMap="freelisten_lessonbranch_map">
        select freelisten.*,lessonbranch.* from freelisten inner join lessonbranch on
        freelisten.id = lessonbranch.lid
        <if test="category!=null and category!=''">
            where category = #{category}
        </if>
        <if test="branchid!=null and branchid!='' and category!=null and category!=''">
            and branchid = #{branchid}
        </if>
        <if test="category=='' and branchid!=0">
            where branchid = #{branchid}
        </if>
    </select>






    <!-- ///////////////////////////////////////////////////////// -->
    <!-- //////////////////////////////////////////////////////// -->

    <select id="adminGetLessonAmount" resultType="int">
        select count(*) from lesson where qid = #{0}
    </select>

    <select id="adminGetFreelistenAmount"   resultType="int">
        select count(*) from freelisten where qid = #{0}
    </select>

    <select id="adminGetAllLessonByCondition" resultType="com.neuedu.po.Lesson">
        select * from lesson  inner join lessonbranch on lesson.lid = lessonbranch.lid
        where lesson.qid = #{qid}
        <if test="branchid!=null and branchid!=''and branchid!=-1" >
            and branchid = #{branchid}
        </if>
    </select>

    <select id="adminGetAllLessonByConditionInPage" resultType="com.neuedu.po.Lesson">
        select * from lesson  inner join lessonbranch on lesson.lid = lessonbranch.lid
        where lesson.qid = #{qid}
        <if test="branchid!=null and branchid!='' and branchid!=-1">
            and branchid = #{branchid}
        </if>
          order by id desc limit #{start},#{n}
    </select>

    <select id="adminGetLessonByConditionAmount" resultType="int">
        select  count(*) from lesson  inner join lessonbranch on lesson.lid = lessonbranch.lid
        where lesson.qid = #{qid}
        <if test="branchid!=null and branchid!='' and branchid!=-1">
            and branchid = #{branchid}
        </if>
    </select>

    <select id="adminGetAllFreelistenByCondition" resultType="com.neuedu.po.Freelisten">
        select * from freelisten where qid = #{qid}
        <if test="branchid!=null and branchid!='' and branchid!=-1">
            and branchid = #{branchid}
        </if>
    </select>

    <select id="adminGetAllFreelistenByConditionInPage" resultType="com.neuedu.po.Freelisten">
        select * from freelisten where qid = #{qid}
        <if test="branchid!=null and branchid!='' and branchid!=-1">
            and branchid = #{branchid}
        </if>
        order by id desc limit #{start},#{n}
    </select>

    <select id="adminGetFreelistenByConditionAmount" resultType="int">
        select  count(*) from freelisten
        where qid = #{qid}
        <if test="branchid!=null and branchid!='' and branchid!=-1">
            and branchid = #{branchid}
        </if>
    </select>

    <select id="adminGetOneLesson" resultType="com.neuedu.po.Lesson">
        select * from lesson where lid = #{0}
    </select>

    <select id="adminGetOneFreelisten" resultType="com.neuedu.po.Freelisten">
        select * from freelisten where id =#{0}
    </select>

    <insert id="adminAddOneLesson" parameterType="com.neuedu.po.Lesson">
        insert into lesson (lid,lname,imgurl,lprice,ldesc,category,qid,pubtime) value (null,#{lname},#{imgurl},#{lprice},#{ldesc},#{category},#{qid},NOW())
    </insert>

    <insert id="adminAddOneLessonbranch" parameterType="com.neuedu.po.Lessonbranch">
        insert into lessonbranch(id,lid,branchid) value(null,#{lid},#{branchid})
    </insert>

    <insert id="adminAddOneFreelisten" parameterType="com.neuedu.po.Freelisten">
        insert into freelisten(id,title,imgurl,fdesc,status,qid,branchid,pubtime) value(null,#{title},#{imgurl},#{fdesc},#{status},#{qid},#{branchid},NOW())
    </insert>

    <update id="adminSetOneLesson" parameterType="com.neuedu.po.Lesson">
        update lesson set lname=#{lname},imgurl=#{imgurl},lprice=#{lprice},ldesc=#{ldesc},category=#{category},qid=#{qid} where lid=#{lid}
    </update>

    <update id="adminSetOneLessonbranch" parameterType="com.neuedu.po.Lessonbranch">
        update lessonbranch set branchid=#{branchid} where lid=#{lid} and id = #{id}
    </update>

    <update id="adminSetOneFreelisten">
        update freelisten set title=#{title},imgurl=#{imgurl},fdesc=#{fdesc},status=#{status},qid=#{qid},branchid=#{branchid} where id=#{id}
    </update>

    <delete id="adminDeleteOneLesson" parameterType="int">
        delete from lesson where lid=#{0}
    </delete>

    <delete id="adminDeleteOneLessonbranch" parameterType="int">
        delete from lessonbranch where id = #{id} and lid = #{lid}
    </delete>

    <delete id="adminDeleteOneFreelisten" parameterType="int">
        delete from freelisten where id = #{id}
    </delete>

    <select id="adminGetOneLessonByLnameAndQidAndCategory" resultType="com.neuedu.po.Lesson">
        select * from lesson where lname=#{0} and qid =#{1} and category = #{2}
    </select>

    <select id="adminGetOneAddressByLid" resultType="com.neuedu.po.Address">
        select address.* from lesson  inner join lessonbranch on lesson.lid = lessonbranch.lid inner join
        address on address.id = lessonbranch.branchid where lesson.lid = #{0}
    </select>

    <select id="adminGetOneLessonbranch" resultType="com.neuedu.po.Lessonbranch">
        select  * from lessonbranch where lid = #{0} and branchid = #{1}
    </select>

    <select id="adminGetAllFreelistenbookByCondition" resultType="com.neuedu.po.Freelistenbook">
        select freelistenbook.*  from freelistenbook inner join freelisten on freelisten.id = freelistenbook.fid where qid = #{qid}
        <if test="fid!=null and fid!='' and fid!=-1">
            and freelistenbook.fid = #{fid}
        </if>
        <if test="status!=null and status!='' ">
            and freelistenbook.status = #{status}
        </if>
        <if test="username!=null and username!='' ">
            and freelistenbook.username = #{username}
        </if>
        <if test="startTime!=null and startTime!='' ">
            and freelistenbook.booktime &gt;= #{startTime}
        </if>
        <if test="endTime!=null and endTime!='' ">
            and freelistenbook.booktime &lt;= #{endTime}
        </if>
    </select>

    <select id="adminGetAllFreelistenbookByConditionInPage" resultType="com.neuedu.po.Freelistenbook">
        select freelistenbook.*  from freelistenbook inner join freelisten on freelisten.id = freelistenbook.fid where freelisten.qid = #{qid}
        <if test="fid!=null and fid!='' and fid!=-1">
            and freelistenbook.fid = #{fid}
        </if>
        <if test="status!=null and status!='' ">
            and freelistenbook.status = #{status}
        </if>
        <if test="username!=null and username!='' ">
            and freelistenbook.username = #{username}
        </if>
        <if test="startTime!=null and startTime!='' ">
            and freelistenbook.booktime &gt;= #{startTime}
        </if>
        <if test="endTime!=null and endTime!='' ">
            and freelistenbook.booktime &lt;= #{endTime}
        </if>
        order by id desc limit #{start},#{n}
    </select>

    <update id="adminConfirmFreelistenbook" parameterType="int">
        update freelistenbook set status = '已处理' where id = #{0}
    </update>

    <select id="adminGetAllSorderByCondition" resultType="com.neuedu.po.Sorder">
        select *  from sorder where qid = #{qid}
        <if test="lid!=null and lid!='' and lid!=-1">
            and lid = #{lid}
        </if>
        <if test="status!=null and status!='' ">
            and status = #{status}
        </if>
        <if test="nickname!=null and nickname!='' ">
            and nickname = #{nickname}
        </if>
        <if test="startTime!=null and startTime!='' ">
            and ordertime &gt;= #{startTime}
        </if>
        <if test="endTime!=null and endTime!='' ">
            and ordertime &lt;= #{endTime}
        </if>
    </select>

    <select id="adminGetAllSorderByConditionInPage" resultType="com.neuedu.po.Sorder">
        select *  from sorder where qid = #{qid}
        <if test="lid!=null and lid!='' and lid!=-1">
            and lid = #{lid}
        </if>
        <if test="status!=null and status!='' ">
            and status = #{status}
        </if>
        <if test="nickname!=null and nickname!='' ">
            and nickname = #{nickname}
        </if>
        <if test="startTime!=null and startTime!='' ">
            and ordertime &gt;= #{startTime}
        </if>
        <if test="endTime!=null and endTime!='' ">
            and ordertime &lt;= #{endTime}
        </if>
        order by oid desc limit #{start},#{n}
    </select>

    <update id="adminRefundSorder" parameterType="int">
        update sorder set status ='已退款' where oid =#{oid}
    </update>

    <update id="adminCAVSorder" parameterType="int">
        update sorder set status ='已使用' where oid =#{oid}
    </update>
</mapper>