<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.mapper.CompanyMapper">
    <select id="getAllTeacher" resultType="com.neuedu.po.Teacher">
        select * from teacher
    </select>

    <insert id="addFreelistenbook" parameterType="com.neuedu.po.Freelistenbook">
        insert into freelistenbook values (NULL,#{fid},#{username},#{tel},NOW(),0,'已付款',NOW(),'待处理',#{comment},#{openid})
    </insert>

    <delete id="cancelFreelistenbook" parameterType="java.lang.String">
        delete from freelistenbook where openid = #{openid}
    </delete>
    <!--//////////////////////////////////////////////////////////// -->
    <!--//////////////////////////////////////////////////////////// -->

    <select id="checkUser" resultType="int">
        select count(*) from user where username = #{0} and userpassword = #{1}
    </select>

    <select id="getQidOfUser"   resultType="int">
        select qid from user where username = #{0} and userpassword = #{1}
    </select>

    <select id="getTeacherAmount"  resultType="int">
        select count(*) from teacher where qid = #{0}
    </select>







</mapper>