<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.mapper.FreelistenbookMapper">
    <select id="getFreelistenbook" parameterType="java.lang.String" resultType="com.neuedu.po.Freelistenbook">
        select * from freelistenbook where openid = #{openid}
    </select>

    <insert id="freelistenbook">
        insert into freelistenbook values (NULL,#{fid},#{username},#{tel},NOW(),'待处理',#{comment},#{openid})
    </insert>

    <delete id="cancelFreelistenbook" parameterType="java.lang.String">
        delete from freelistenbook where openid = #{openid}
    </delete>
    <!--///////////////////////////////////////////////////////////// -->
    <!--//////////////////////////////////////////////////////////// -->


    <select id="adminGetFreelistenbookAmount"  resultType="int">
        select count(*) from freelistenbook where qid = #{0}
    </select>

</mapper>