<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.mapper.MessageMapper">

    <resultMap type="com.neuedu.po.Message" id="message_messagelike_messageimg_messagereply_map">
        <id property="mid" column="mid"/>
        <result property="mtitle" column="mtitle"/>
        <result property="qid" column="qid"/>
        <result property="mtime" column="mtime"/>
        <collection property="messageimgs" ofType="com.neuedu.po.Messageimg">
            <id property="id" column="id"/>
            <result property="mid" column="mid"/>
            <result property="imgurl" column="imgurl"/>
        </collection>
        <collection property="messagelikes" ofType="com.neuedu.po.Messagelike">
            <id property="id" column="id"/>
            <result property="mid" column="mid"/>
            <result property="nickname" column="nickname"/>
            <result property="stime" column="stime"/>
        </collection>
        <collection property="messagereplies" ofType="com.neuedu.po.Messagereply">
            <id property="id" column="id"/>
            <result property="mid" column="mid"/>
            <result property="nickname" column="nickname"/>
            <result property="stime" column="stime"/>
            <result property="content" column="content"/>
        </collection>
    </resultMap>

    <select id="getAllMessage" resultType="com.neuedu.po.Message">
        select * from message
    </select>

    <select id="getAllMessagelike" resultType="com.neuedu.po.Messagelike">
        select * from messagelike
    </select>

    <select id="getAllMessageimg" resultType="com.neuedu.po.Messageimg">
        select * from messageimg
    </select>

    <select id="getAllMessagereply" resultType="com.neuedu.po.Messagereply">
        select * from messagereply
    </select>

    <insert id="addMessagelike" parameterType="com.neuedu.po.Messagelike">
        insert into messagelike values (NULL,#{mid},#{nickname},NOW())
    </insert>

    <insert id="addMessagereply" parameterType="com.neuedu.po.Messagereply">
        insert into messagelike values (NULL,#{mid},#{content},#{nickname},NOW())
    </insert>

    <delete id="removeMessagelike" parameterType="com.neuedu.po.Messagelike">
        delete from messagelike where openid = #{openid} and mid = #{mid}
    </delete>

    <delete id="removeMessagereply" parameterType="com.neuedu.po.Messagereply">
        delete from messagereply where openid = #{openid} and mid = #{mid}
    </delete>

    <select id="getAllMessagelikeByCondition" parameterType="java.lang.String" resultMap="message_messagelike_messageimg_messagereply_map">
        select message.*,messagelike.*,messagereply.*,messageimg.* from message,messageimg,messagelike,messagereply where message.mid = messageimg.mid and
        messageimg.mid = messagelike.mid and messagelike.mid = messagereply.mid and messagelike.nickname = #{nickname}
    </select>

    <select id="getAllMessagelikeByMessage" resultType="java.lang.Integer">
        select count(*) from messagelike group by mid
    </select>

    <select id="getAllMessagereplyByMessage" resultType="java.lang.Integer">
        select count(*) from messagereply group by mid order by mid
    </select>

    <select id="getAllMessagereplyByCondition" parameterType="java.lang.String" resultMap="message_messagelike_messageimg_messagereply_map">
        select message.*,messagelike.*,messagereply.*,messageimg.* from message,messageimg,messagelike,messagereply where message.mid = messageimg.mid and
        messageimg.mid = messagelike.mid and messagelike.mid = messagereply.mid and messagereply.nickname = #{nickname}
    </select>

    <!--///////////////////////////////////////////////////////////// -->
    <!--///////////////////////////////////////////////////////////// -->


    <select id="adminGetMessagelikeAmount"  resultType="int">
        select count(*) from message join messagelike where message.qid = #{0} and message.mid = messagelike.mid
    </select>

    <select id="adminGetMessagereplyAmount" resultType="int">
        select count(*) from message join messagereply where message.qid = #{0} and message.mid = messagereply.mid
    </select>
</mapper>
