<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.mapper.MessageMapper">

    <select id="getAllMessage">
        select * from message,messageimg,messagelike,messagereply where message.mid = messageimg.mid and
        messageimg.mid = messagelike.mid and messagelike.mid = messagereply.mid
    </select>

    <insert id="addMessagelike" parameterType="com.neuedu.po.Messagelike">
        insert into messagelike values (NULL,#{mid},#{nickname},NOW())
    </insert>

    <insert id="addMessagereply" parameterType="com.neuedu.po.Messagereply">
        insert into messagelike values (NULL,#{mid},#{content},#{nickname},NOW())
    </insert>

    <delete id="removeMessagelike" parameterType="com.neuedu.po.Messagelike">
        delete from messagelike where openid = #{openid} and mid = #{mid}
    </delete>

    <delete id="removeMessagereply" parameterType="com.neuedu.po.Messagereply">
        delete from messagereply where openid = #{openid} and mid = #{mid}
    </delete>

    <!--///////////////////////////////////////////////////////////// -->
    <!--///////////////////////////////////////////////////////////// -->

    <!-- ////////////////////////////////////////////////////////////////////// -->
    <!-- ////////////////////////////////////////////////////////////////////// -->

    <select id="getMessagelikeAmount"  resultType="int">
        select count(*) from message join messagelike where message.qid = #{0} and message.mid = messagelike.mid
    </select>

    <select id="getMessagereplyAmount" resultType="int">
        select count(*) from message join messagereply where message.qid = #{0} and message.mid = messagereply.mid
    </select>
</mapper>
