<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.mapper.SorderMapper">

    <resultMap type="com.neuedu.po.Freelistenbook" id="freelistenbook_freelisten_map">
        <id property="id" column="id"/>
        <result property="fid" column="fid"/>
        <result property="username" column="username"/>
        <result property="tel" column="tel"/>
        <result property="booktime" column="booktime"/>
        <result property="status" column="status"/>
        <result property="comment" column="comment"/>
        <result property="openid" column="openid"/>
        <association property="freelisten" javaType="com.neuedu.po.Freelisten">
            <id property="id" column="id"/>
            <result property="title" column="title"/>
            <result property="imgurl" column="imgurl"/>
            <result property="fdesc" column="fdesc"/>
            <result property="status" column="status"/>
            <result property="qid" column="qid"/>
            <result property="branchid" column="branchid"/>
            <result property="pubtime" column="pubtime"/>
        </association>
    </resultMap>

    <select id="getAllSorderByCondition" parameterType="java.lang.String" resultType="com.neuedu.po.Sorder">
        select * from sorder where openid = #{0} and status = #{1}
    </select>

    <select id="getAllFreelistenbookByCondition" parameterType="java.lang.String" resultMap="freelistenbook_freelisten_map">
        select freelistenbook.*,freelisten.* from freelistenbook,freelisten where freelistenbook.openid = #{openid}
        and freelistenbook.fid = freelisten.id
    </select>

    <insert id="addToCart" parameterType="com.neuedu.po.Sorder">
        insert into sorder values (NULL,#{lid},#{openid},#{total},0,0,#{status},NOW(),1,0,#{nickname},#{tel})
    </insert>

    <update id="paySorder" parameterType="com.neuedu.po.Sorder">
        update sorder set actual = #{s.actual} where lid = #{s.lid} and openid = #{s.openid}
    </update>

    <update id="refundSorder" parameterType="com.neuedu.po.Sorder">
        update sorder set status = '退款中' where lid = #{s.lid} and openid = #{s.openid}
    </update>
    <!--///////////////////////////////////////////////////////////// -->
    <!--///////////////////////////////////////////////////////////// -->



    <select id="adminGetSorderAmount"  resultType="int">
        select count(*) from sorder where qid = #{0}
    </select>

</mapper>
