<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.mapper.SorderMapper">

    <resultMap type="com.neuedu.po.Sorder" id="sorder_lesson_map">
        <id property="oid" column="oid"/>
        <result property="lid" column="lid"/>
        <result property="total" column="total"/>
        <result property="ordertime" column="ordertime"/>
        <result property="actual" column="actual"/>
        <result property="status" column="status"/>
        <result property="qid" column="qid"/>
        <result property="transactionid" column="transactionid"/>
        <result property="nickname" column="nickname"/>
        <result property="tel" column="tel"/>
        <result property="openid" column="openid"/>
        <association property="lesson" javaType="com.neuedu.po.Lesson">
            <id property="lid" column="lid"/>
            <result property="lname" column="lname"/>
            <result property="imgurl" column="imgurl"/>
            <result property="lprice" column="lprice"/>
            <result property="lprice" column="lprice"/>
            <result property="ldesc" column="ldesc"/>
            <result property="category" column="category"/>
            <result property="qid" column="qid"/>
            <result property="pubtime" column="pubtime"/>
        </association>
    </resultMap>



    <select id="getAllSorderByCondition" parameterType="java.lang.String" resultMap="sorder_lesson_map">
        select sorder.*,lesson.* from sorder,lesson  where openid = #{openid}
        <if test="status==null or status==''">
            and status &lt;&gt; '待付款'
        </if>
        <if test="status!=null and status!=''">
            and status = #{status}
        </if>
        and sorder.lid = lesson.lid
    </select>



    <insert id="addToCart">
        insert into sorder values (NULL,#{lid},#{openid},#{total},0,0,'待付款',NOW(),1,0,#{nickname},#{tel})
    </insert>

    <update id="paySorder">
        update sorder set status = '已付款' where oid = #{oid} and openid = #{openid}
    </update>

    <update id="refundSorder" parameterType="com.neuedu.po.Sorder">
        update sorder set status = '退款中' where oid = #{s.oid}
    </update>

    <delete id="refundCart">
        delete from sorder where oid = #{oid}
    </delete>

    <!--///////////////////////////////////////////////////////////// -->
    <!--///////////////////////////////////////////////////////////// -->



    <select id="adminGetSorderAmount"  resultType="int">
        select count(*) from sorder where qid = #{0}
    </select>

</mapper>
